@import 'src/assets/css/theme.scss';

.lang {
  position: absolute;
  top: -1px;
  right: calc(100% + 4px);
  color: theme(black, light);
  background-color: theme(white, deep);
  border: 1px solid theme(gray, deep);
  border-radius: 4px;
  cursor: pointer;
}