@import 'src/assets/css/theme.scss';

.preview {
  position: relative;
  padding-top: 35px;
  width: 100vw;
  height: calc(100vh - 35px);
  background-color: theme(black);

  .onLoading {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
  }

  .progress {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    color: theme(white);
  }
}