@import 'src/assets/css/theme.scss';
@import 'src/assets/css/rwd.scss';

.file {
  svg {
    display: inline-block;
    margin: 0 2px;
    padding: 4px 0;
    width: 22px;
    height: 22px;
    vertical-align: middle;
  }
}

.icon {
  display: inline-block;
  margin: 3px 2px;
  width: calc(100% / 10 - 4px);
  box-shadow: 1px 1px 1px 1px theme(gray);

  @include breakpoint(xxxl) {
    width: calc(100% / 8 - 4px);
  }

  @include breakpoint(xxl) {
    width: calc(100% / 6 - 4px);
  }

  @include breakpoint(xl) {
    width: calc(100% / 4 - 4px);
  }

  @include breakpoint(l) {
    width: calc(100% / 4 - 4px);
  }

  @include breakpoint(m) {
    width: calc(100% / 3 - 4px);
  }

  @include breakpoint(s) {
    width: calc(100% / 2 - 4px);
  }

  .iconContainer {
    position: relative;
    width: 100%;
    padding-top: 100%;
    cursor: pointer;

    .selected {
      position: absolute;
      top: 0;
      left: 0;
      color: theme(blue);
      z-index: 1;
    }

    .svg {
      position: absolute;
      top: 0;
      right: 3px;
      bottom: 0;
      left: 3px;
      text-align: center;
      border-bottom: 1px solid theme(gray, light);

      svg {
        display: inline-block;
        width: 50px;
        height: 50px;
        vertical-align: middle;
      }
    }
  }

  .secondLine {
    height: 30px;

    .options {
      display: inline-block;
      width: 52px;
      height: 30px;
      text-align: right;
      vertical-align: middle;

      svg {
        display: inline-block;
        margin: 0 2px;
        padding: 4px 0;
        width: 22px;
        height: 22px;
        cursor: pointer;
      }
    }
  }

}