@import 'src/assets/css/theme.scss';
@import 'src/assets/css/rwd.scss';

#home {
  position: relative;
  height: calc(100%);
  color: theme(black, light);
  overflow: auto;

  .bottomLine {
    margin: 0 25px;
    border-bottom: solid 4px theme(gray);

    @include breakpoint(l) {
      margin: 0 20px;
    }

    @include breakpoint(s) {
      margin: 0 15px;
    }
  }
}