$colors: ( //
  blue: (base:#30a9de, light:#bbe1fa, deep:#2196f3),
  white:(base:#f5f5f5, light:#fafafa, deep:#eaeaea),
  gray:(base:#bbbbbb, light:#dddddd, deep:#999999),
  black:(base:#222831, light:#435055),
  pink:(base:#fcbad3, light:#fccde2, deep: #f38181),
  green:(base:#00af91),
  red:(base:#ff577f),
);

@function theme($color, $type: 'base', $map: $colors) {
  @if (map-has-key($map, $color)) {
    $value: map-get($map, $color);

    @if type-of($value)==color {
      @return $value;
    }

    @if (map-has-key($value, $type)) {
      $value: map-get($value, $type);

      @if type-of($value)==color {
        @return $value;
      }
    }
  }

  @return null;
}