@import 'src/assets/css/theme.scss';
@import 'src/assets/css/rwd.scss';

#fileList {
  margin: 40px 0px;

  @include breakpoint(l) {
    margin: 30px 0px;
  }

  @include breakpoint(m) {
    margin: 20px 0px;
  }

  @include breakpoint(s) {
    margin: 10px 0px;
  }

  .header,
  .file {
    padding: 0px 25px;

    @include breakpoint(l) {
      padding: 0px 20px;
    }

    @include breakpoint(s) {
      padding: 0px 15px;
    }

    .name,
    .size,
    .modify,
    .option {
      display: inline-block;
      padding: 3px 2px;
      height: 30px;
      white-space: nowrap;
      color: theme(black, light);
      vertical-align: middle;

      svg {
        display: inline-block;
        padding: 2px;
        width: 26px;
        height: 26px;
        vertical-align: middle;
      }

      .text {
        display: inline-block;
        max-width: calc(100% - 4px);
        line-height: 30px;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
        overflow: hidden;
      }

      .iconText {
        max-width: calc(100% - 4px - 4px - 26px);
      }
    }

    .name {
      width: calc(100% - 4px - 120px - 150px - 100px);
      min-width: calc(65% - 4px);
    }

    .size {
      width: calc(120px - 4px);
      max-width: calc(10% - 4px);
    }

    .modify {
      width: calc(150px - 4px);
      max-width: calc(15% - 4px);
    }

    .option {
      width: calc(100px - 4px);
      max-width: calc(10% - 4px);
      text-align: center;
    }
  }

  .header {
    border-bottom: 1px solid theme(gray, light);

    @include breakpoint(m) {
      display: none;
    }
  }

  .file {
    cursor: pointer;

    &:hover {
      background-color: theme(blue, light);
    }
  }
}