@import 'src/assets/css/theme.scss';
@import 'src/assets/css/rwd.scss';

.itemContainer {
  position: relative;
  display: block;
  color: theme(black, light);

  @include breakpoint(l) {
    display: inline-block;
  }

  .item,
  .subItem {
    cursor: pointer;

    &:hover {
      background-color: theme(pink, light);
    }

    &:active {
      background-color: theme(pink);
    }

    .expand,
    .icon,
    .text {
      display: inline-block;
      vertical-align: middle;

      svg {
        display: block;
      }
    }

    .icon {
      margin-right: 5px;
    }

    .text {
      font-size: 18px;
      font-weight: bold;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .item {
    padding: 4px 8px;
    height: 26px;

    .expand {
      padding: 2px;
      cursor: default;

      svg {
        width: 22px;
        height: 22px;
      }
    }

    .icon {
      svg {
        width: 26px;
        height: 26px;
      }
    }

    .text {
      width: calc(100% - 4px - 22px - 5px - 26px);
    }
  }

  .subItem {
    padding: 2px 8px 2px 48px;
    height: 26px;

    .icon {
      svg {
        width: 22px;
        height: 22px;
      }
    }

    .text {
      width: calc(100% - 5px - 22px - 26px);
    }

    .share {
      display: inline-block;
      width: 26px;
      height: 26px;
      vertical-align: middle;

      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }

      svg {
        display: block;
        margin: 4px;
        width: 18px;
        height: 18px;
      }
    }
  }

  .subItems {
    overflow: hidden;

    @include breakpoint(l) {
      position: fixed;
      top: 75px;
      right: 0;
      left: 0;
      background-color: theme(white, deep);
      z-index: 99;
    }
  }

  .boxShadow {
    box-shadow: 0px 1px 2px 1px theme(gray);
  }

  .active {
    background-color: theme(pink);

    &:hover {
      background-color: theme(pink);
    }
  }
}