@import 'src/assets/css/theme.scss';
@import 'src/assets/css/rwd.scss';

.active {
  color: theme(blue, deep);
}

.text {
  @include breakpoint(m) {
    line-height: 18px !important;
  }

  .subLine {
    display: none;
    font-size: 12px;
    line-height: 12px;
    color: theme(gray, deep);

    @include breakpoint(m) {
      display: block;
    }
  }
}

.iconText {
  max-width: calc(100% - 4px - 4px - 26px);
}

.iconFileName {
  display: inline-block;
  margin: 0 3.5px;
  width: calc(100% - 7px);
  height: 30px;
  line-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}

.previewImage {
  display: block;
  max-width: 264px;
}