@import 'src/assets/css/theme.scss';
@import 'src/assets/css/rwd.scss';

.itemContainer {
  display: block;
  color: theme(black, light);

  @include breakpoint(l) {
    display: inline-block;
  }

  .item,
  .subItem {
    cursor: pointer;

    &:hover {
      background-color: theme(pink, light);
    }

    &:active {
      background-color: theme(pink);
    }

    .expand,
    .icon,
    .text {
      display: inline-block;
      vertical-align: middle;

      svg {
        display: block;
      }
    }

    .icon {
      margin-right: 5px;
    }

    .text {
      font-size: 18px;
      font-weight: bold;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .item {
    padding: 4px 8px;
    height: 26px;

    .expand {
      padding: 2px;
      cursor: default;

      svg {
        width: 22px;
        height: 22px;
      }
    }

    .icon {
      svg {
        width: 26px;
        height: 26px;
      }
    }

    .text {
      width: calc(100% - 4px - 22px - 5px - 26px);
    }
  }

  .subItem {
    padding: 2px 8px 2px 48px;
    height: 26px;

    .icon {
      svg {
        width: 22px;
        height: 22px;
      }
    }

    .text {
      width: calc(100% - 5px - 22px);
    }
  }

  .subItems {
    overflow: hidden;

    @include breakpoint(l) {
      display: none;
    }
  }
}