@import 'src/assets/css/theme.scss';

.preview {
  position: relative;
  padding: 5px 7px;
  width: calc(100vw - 14px);
  height: calc(100vh - 10px);
  text-align: center;
  background-size: cover;
  overflow: auto;

  .onLoading {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
  }

  .progress {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    color: theme(white);
  }
}