@import 'src/assets/css/theme.scss';
@import 'src/assets/css/rwd.scss';

#sideMenu {
  width: 100%;
  height: 100%;
  color: theme(black);
  overflow: auto;

  @include breakpoint(l) {
    white-space: nowrap;
    overflow-y: hidden;
  }
}