@import 'src/assets/css/theme.scss';
@import 'src/assets/css/rwd.scss';

.header,
.list .file,
.icon {
  padding: 0px 25px;

  @include breakpoint(l) {
    padding: 0px 20px;
  }

  @include breakpoint(s) {
    padding: 0px 15px;
  }
}

.header,
.list .file {

  .nameCol,
  .sizeCol,
  .modifyCol,
  .optionCol {
    display: inline-block;
    padding: 2.5px 2px;
    white-space: nowrap;
    color: theme(black, light);
    vertical-align: middle;

    .text {
      display: inline-block;
      width: calc(100% - 4px);
      line-height: 30px;
      white-space: nowrap;
      text-overflow: ellipsis;
      vertical-align: middle;
      overflow: hidden;
    }
  }

  .nameCol {
    width: calc(100% - 4px - 120px - 150px - 70px);
    min-width: calc(65% - 4px - 70px);

    @include breakpoint(m) {
      width: calc(100% - 4px - 70px);
    }
  }

  .sizeCol {
    width: calc(120px - 4px);
    max-width: calc(15% - 4px);

    @include breakpoint(m) {
      display: none;
    }
  }

  .modifyCol {
    width: calc(150px - 4px);
    max-width: calc(20% - 4px);

    @include breakpoint(m) {
      display: none;
    }
  }

  .optionCol {
    width: calc(70px - 4px);
    text-align: right;

    @include breakpoint(m) {
      max-width: calc(70px - 4px);
    }
  }
}

.header {
  font-weight: bold;
  border-bottom: 1px solid theme(gray, light);

  .nameCol,
  .sizeCol,
  .modifyCol,
  .optionCol {
    height: 29px;
  }

  .nameCol {
    .viewType {
      display: inline-block;
      margin: 0.5px 2px 0 -2px;
      height: 24px;
      vertical-align: top;

      svg {
        display: block;
        width: 22px;
        height: 22px;
      }
    }

    .text {
      width: calc(100% - 4px - 26px);
    }
  }
}

.list {
  padding-bottom: 70px;
  height: calc(100% - 70px - 35px);
  overflow: auto;

  .file {
    cursor: pointer;

    &:hover {
      background-color: theme(blue, light);
    }

    .nameCol,
    .sizeCol,
    .modifyCol,
    .optionCol {
      height: 30px;
    }
  }
}

.icon {
  padding-bottom: 70px;
  height: calc(100% - 70px - 35px);
  overflow: auto;
}