@import 'src/assets/css/theme.scss';

.delete {
  padding: 25px 30px;
  max-width: 300px;

  .icon {
    display: inline-block;
    color: theme(pink, deep);
    text-align: center;

    svg {
      display: block;
      width: 100px;
      height: 100px;
    }
  }

  .text {
    margin-bottom: 20px;
    line-height: 25px;

    .fileName {
      margin-bottom: 5px;
      width: 100%;
      font-size: 18px;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}