.previewImage {
  display: block;
  max-width: 264px;
}

.onLoading {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.percentage {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}