@import 'src/assets/css/theme.scss';
@import 'src/assets/css/rwd.scss';

.sharedContainer {
  position: relative;
  display: block;
  color: theme(black, light);

  @include breakpoint(l) {
    display: inline-block;
  }

  .sharedRoot,
  .sharedFolder {

    .expand,
    .icon,
    .text,
    .sharedFolderInfo {
      display: inline-block;
      vertical-align: middle;

      svg {
        display: block;
      }
    }

    .icon {
      margin-right: 5px;
    }

    .text {
      font-size: 18px;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .sharedRoot {
    padding: 4px 8px;
    height: 26px;

    .expand {
      padding: 2px;

      svg {
        width: 22px;
        height: 22px;
      }
    }

    .icon {
      svg {
        width: 26px;
        height: 26px;
      }
    }

    .text {
      width: calc(100% - 4px - 22px - 5px - 26px);
      cursor: default;
    }
  }

  // when window.innerWidth <= 1024
  .sharedFolderContainer {
    position: fixed;
    top: 95px;
    right: 0;
    left: 0;
    background-color: theme(white, deep);
    border-bottom: 1px solid theme(gray);
    overflow: hidden;
    z-index: 99;

    @include breakpoint(m) {
      top: 85px;
    }

    @include breakpoint(s) {
      top: 75px;
    }
  }

  .sharedFolder {
    padding: 2px 8px 2px 48px;
    height: 26px;
    cursor: pointer;

    &:hover {
      background-color: theme(pink, light);
    }

    &:active {
      background-color: theme(pink);
    }

    .icon {
      svg {
        width: 22px;
        height: 22px;
      }
    }

    .text {
      width: calc(100% - 5px - 22px - 26px);
    }

    .sharedFolderInfo {
      width: 26px;
      height: 26px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }

      svg {
        margin: 2px;
        width: 22px;
        height: 22px;
      }
    }
  }

  .empty {
    padding: 2px 8px 2px 48px;
    height: 26px;
    font-weight: bold;
  }

  .active {
    background-color: theme(pink);
  }
}

.sharedInfoDialog {
  width: 300px;

  .dialogHeader {
    padding: 0 5px;
    height: 35px;
    font-size: 20px;
    text-align: left;
    line-height: 35px;
    color: theme(white);
    background-color: theme(blue);
  }

  .dialogBody {
    padding: 10px 5px 0 5px;
    text-align: left;

    .dialogText {
      margin-top: 1px;
      margin-bottom: 5px;
      padding: 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: theme(white, deep);
      border: 1px solid theme(gray);
      overflow: hidden;
    }
  }

  .dialogFooter {
    margin: 8px 0;
  }
}