@import 'src/assets/css/theme.scss';
@import 'src/assets/css/rwd.scss';

.sharedContainer {
  position: relative;
  display: block;
  color: theme(black, light);

  @include breakpoint(l) {
    display: inline-block;
  }

  .sharedRoot,
  .sharedFolder {

    .expand,
    .icon,
    .text {
      display: inline-block;
      vertical-align: middle;

      svg {
        display: block;
      }
    }

    .icon {
      margin-right: 5px;
    }

    .text {
      font-size: 18px;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .sharedRoot {
    padding: 4px 8px;
    height: 26px;

    .expand {
      padding: 2px;

      svg {
        width: 22px;
        height: 22px;
      }
    }

    .icon {
      svg {
        width: 26px;
        height: 26px;
      }
    }

    .text {
      width: calc(100% - 4px - 22px - 5px - 26px);
      cursor: default;
    }
  }

  .sharedFolderContainer {
    position: fixed;
    top: 75px;
    right: 0;
    left: 0;
    background-color: theme(white, deep);
    border-bottom: 1px solid theme(gray);
    overflow: hidden;
    z-index: 99;
  }

  .sharedFolder {
    padding: 2px 8px 2px 48px;
    height: 26px;
    cursor: pointer;

    .icon {
      svg {
        width: 22px;
        height: 22px;
      }
    }

    .text {
      width: calc(100% - 5px - 22px);
    }
  }
}