@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import './assets/css/theme.scss';
@import './assets/css/common.scss';

html,
body,
#root {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', 'Microsoft JhengHei', Arial, Helvetica, sans-serif, monospace;
  background-color: theme(white);
}

html,
body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}