@import 'src/assets/css/theme.scss';

.tooltip {
  position: relative;

  .dialog {
    position: absolute;
    top: 100%;
    left: 5px;
    padding: 2px 3px;
    font-size: 14px;
    background-color: theme(white, deep);
    border: 1px solid theme(gray);
    z-index: 99;
  }
}