@import 'src/assets/css/theme.scss';

.message {
  padding: 25px 30px;
  width: 240px;

  .icon {
    display: inline-block;
    text-align: center;

    svg {
      display: block;
      width: 80px;
      height: 80px;
    }
  }

  .success {
    color: #689F38;
  }

  .info {
    color: #00adb5;
  }

  .warning {
    color: #fab710;
  }

  .error {
    color: #f44336;
  }

  .text {
    margin-bottom: 20px;
    line-height: 25px;
  }
}