@import 'src/assets/css/theme.scss';
@import 'src/assets/css/rwd.scss';

#path {
  margin: 20px 25px 0px 25px;
  height: 36px;
  white-space: nowrap;
  color: theme(blue, deep);
  overflow: auto;

  @include breakpoint(l) {
    margin: 20px 20px 0px 20px;
  }

  @include breakpoint(s) {
    margin: 20px 15px 0px 15px;
  }

  .folder {
    display: inline-block;
    height: 23px;
    line-height: 23px;
    vertical-align: top;

    .prefix {
      padding: 0 2px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .prefixCantClick {
      padding: 0 2px;
      cursor: default;
    }

    .backslash {
      margin: 0 6px;
      color: theme(gray, deep);

      @include breakpoint(l) {
        margin: 0 4px;
      }

      @include breakpoint(s) {
        margin: 0 2px;
      }
    }
  }
}